/**=====================
    25. Table  CSS Start
==========================**/
thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: $light-gray;
}
.pills-component {
  width: 20%;
}
.table {
  margin-bottom: $table-b-margin;
  > :not(:last-child) {
    > :last-child {
      > * {
        border-bottom-color: $light-gray;
      }
    }
  }
  th,
  td {
    padding: 0.75rem;
  }
  &.table-primary {
    th {
      color: $white;
    }
    td {
      color: $white;
    }
  }
  thead {
    &.bg-primary {
      tr {
        th {
          color: $white;
        }
      }
    }
    &.table-primary {
      tr {
        th {
          color: $primary-color;
        }
      }
    }
    &.table-success {
      tr {
        th {
          color: $success-color;
        }
      }
    }
  }
  tfoot {
    &.table-success {
      tr {
        td,
        th {
          color: $success-color;
        }
      }
    }
  }
  th {
    color: #747489;
    font-weight: 450;
  }
  td {
    color: $table-row-color;
  }

  [class*='bg-'] {
    color: $white;
  }
  .bg-light {
    color: $theme-body-font-color;
  }
  tfoot {
    font-weight: $table-footer-font-weight;
  }
}
.table-striped {
  &.table-styling {
    > tbody {
      > tr {
        &:nth-of-type(odd) {
          &:hover {
            > * {
              color: $primary-color;
            }
          }
          > * {
            --bs-table-accent-bg: none;
            color: $white;
          }
        }
      }
    }
  }
  &.bg-primary {
    > tbody {
      > tr {
        &:nth-of-type(odd) {
          background-color: rgb(245 247 250 / 50%);
          * {
            color: $white;
          }
        }
      }
    }
  }
}
.table-dark {
  th {
    color: $white;
  }
}
.table-inverse {
  color: $white;
  background-color: $table-inverse-bg-color;
  th,
  td {
    border-color: $white;
    color: $white;
  }
  &.table-bordered {
    border: 0;
  }
}
.table[class*='bg-'] {
  th,
  td {
    color: $white;
  }
}
.table-hover {
  > tbody {
    > tr:hover {
      --bs-table-accent-bg: unset;
    }
  }
}
.table-double {
  border-left: 4px double #dee2e6;
  border-right: 4px double #dee2e6;
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-style: double;
    border-width: 4px;
    border-right: 0;
    border-left: 0;
  }
}
.table-dotted {
  border-left: 2px dotted #dee2e6;
  border-right: 2px dotted #dee2e6;
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-style: dotted !important;
    border-width: 2px;
    border-right: 0;
    border-left: 0;
  }
}
.table-responsiv {
  padding: 25px;
  padding-top: 0;
}
tbody tr:last-child {
    border-bottom: 0;
}
.rounded-cell {
  border-radius: 10px;
  padding: 5px 10px 5px 0;
  /* Adjust the values as needed */
}
.table-dashed {
  border-collapse: collapse;
  width: 100%;
}

.header-table {
  width: auto;
  table-layout: fixed;
}

.data-table {
  width: auto;
  margin-left: 60px;
  /* Adjust this value to match the width of the "Status" cell */
  table-layout: fixed;
}

.table-dashed th,
.table-dashed td {
  padding: 8px;
  text-align: left;
  border: 1px solid #dee2e6;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 3;
}

.sticky-cell {
  position: sticky;
  left: 0;
  background-color: #fff;
  z-index: 3;
}
.sticky-keyword {position: sticky;
  left: 0;
  background-color: #fff;
  z-index: 4;
}

.table-scroll-container {
  max-height: 400px;
  overflow: auto;
}
/* Add this CSS to your existing stylesheet */

/* Customize the scrollbar track */
.table-scroll-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
}

/* Customize the scrollbar thumb */
.table-scroll-container::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 5px;
}

/* Change the thumb color when hovered */
.table-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #747489;
  border-radius: 5px;
}
.conversion_table {
  display: flex;
  justify-content: space-between;
}
.conversion_table_columns {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10%;
  font-weight: 500;
  height: auto;
}
.conversions {
  font-weight: 400;
}
.row_widgets {
  // max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (min-width: 1400px) {
    .row_widgets {
        grid-template-columns: repeat(5, 1fr);
    }
}
.table-dashed {
  // border-left: 2px dashed #dee2e6;
  // border-right: 2px dashed #dee2e6;
  // margin: 30px;
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-style: dashed !important;
    border-width: 2px;
    border-right: 0;
    border-left: 0;
    border-top: 0;
  }
}
//Sizing class
.table-xl {
  td,
  th {
    padding: $table-xl-padding;
    font-size: $table-xl-font;
  }
}
.table-lg {
  td,
  th {
    padding: $table-lg-padding;
    font-size: $table-lg-font;
  }
}
.table-de {
  td,
  th {
    padding: $table-de-padding;
  }
}
.table-sm {
  th,
  td {
    padding: $table-sm-padding;
    font-size: $table-sm-font;
  }
}
.table-xs {
  th,
  td {
    padding: $table-xs-padding;
    font-size: $table-xs-font;
  }
}
//Table Border
.table-border-horizontal {
  tr,
  th,
  td {
    border-top: 1px solid $horizontal-border-color;
    padding: 0.75rem;
  }
}
.table-border-vertical {
  tr,
  th,
  td {
    border-top: 0;
    border-right: 1px solid $horizontal-border-color;
  }
  tr {
    td {
      border-bottom: 0;

      &:last-child {
        border-right: none;
      }
    }
  }
  tbody {
    tr {
      th {
        border-bottom: 0;
      }
    }
  }
}
.table-bordernone {
  td {
    border: none !important;
  }
  thead {
    th {
      border: none !important;
    }
  }
  .u-s-tb {
    padding: 11px;
  }
}
.table-striped {
  tbody {
    tr {
      &:nth-of-type(odd) {
        --bs-table-accent-bg: rgba(245, 247, 250, 0.5);
      }
    }
  }
}
.table-bordered {
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-color: $light-gray;
  }
}
.grid-wrrapper {
  .table-striped {
    tbody {
      tr {
        &:nth-of-type(odd) {
          background-color: rgba($primary-color, 0.1);
          --bs-table-accent-bg: unset;
          th,
          td {
            color: $primary-color;
          }
        }
      }
    }
  }
}
/**=====================
     25.Table CSS Ends
==========================**/
.w-20 {
  width: 20px;
}
.h-20 {
  height: 20px;
}
